@import "~normalize.css";
@import "./fonts/fonts.scss";
@import "./variables/variables.scss";
@import "./mixins/mixins.scss";


@import "./line/line.scss";

@import "./header/index.scss";
@import "./introduction/index.scss";
@import "./howitworks/index.scss";
@import "./interaction/index.scss";
@import "./features/index.scss";
@import "./events/index.scss";
@import "./footer/index.scss";

* {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    padding: 0 20px;
    max-width: 2400px;
}

//@media (min-width:750px) for medium
//@media(min-width:1532px) for large
//@media(min-width:320px) for small

