@import "~normalize.css";
@import "fonts.scss";
@import "variables.scss";

* {
    text-decoration: none;
}

body {
    font-family: "Loto", sans-serif;
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    padding: 0 20px;
}

//@media (min-width:750px) for medium
//@media(min-width:1532px) for large
//@media(min-width:320px) for small

.header {
    background-image: url(../../img/blackback.png);
    &__inner {
        min-height: 195px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .invisible__elem {
            flex: 0 1 auto;
            width: 100px;
            height: 100px;
            visibility: hidden;
        }
        .logo {
            flex: 0 1 auto;
        }
        .menu {
            flex: 0 1 auto;
            width: 55px;
            height: 55px;
        }
    }
    @media(min-width:760px){
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }
}

.introduction {
    background-image: url(../../images/mobile_people_02.jpg);
    &__information {
        width: 100%;
        height: 457px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .slogan {
            &__up {
                font-size: 43.9px;
                line-height: 48px;
                font-weight: 900;
                color: #ffffff;
            }
            &__down {
                font-size: 26.4px;
                line-height: 1.2;
                font-weight: 400;
                color: #ffffff;
                text-align: center;
            }
        }
        .introduction__functionality {
            .functionality {
                background-color: transparent;
                border: 1.5px solid #ffffff;
                font-size: 26.4px;
                height: 60px;
                line-height: 1.2;
                font-weight: 600;
                color: #ffffff;
                &:hover {
                    background-color: #ffffff;
                    opacity: 0.8;
                    color: #037693;
                }
            }
            .functionality-alone {
                margin-right: 50px;
                width: 215px;
            }
            .functionality-together {
                width: 144px;
            }
        }
  }
}
    

