@import "~normalize.css";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";


* {
    text-decoration: none;
}

body {
    font-family: "Loto", sans-serif;
    overflow-x: hidden;
}

.container {
    padding: 0 20px;
    max-width: 2400px;
}

//@media (min-width:750px) for medium
//@media(min-width:1532px) for large
//@media(min-width:320px) for small

.header {
    background-image: url(../../img/blackback.png);
    &__inner {
        min-height: 195px;
        @include setFlexHorizAndVertical(flex,space-between,center);
        .invisible__elem {
            @include setFlex(0,1,auto);
            @include setWidthAndHeightFixed(100px,100px);
            visibility: hidden;
        }
        .logo {
            @include setFlex(0,1,auto);
        }
        .menu {
            @include setFlex(0,1,auto);
            @include setMenuButtonParams(55px,55px);
            margin-right: 0 auto ;
        }
    }
    @media(min-width:760px){
        &__inner {
            @include setFlexHorizAndVertical(flex,space-between,center);
        }
    }
}

.introduction {
    background-image: url(../../images/mobile_people_02.jpg);
    &__information {
        min-height: 457px;
        width: 100%;
        //@include setWidthAndHeightFixed(100%,457px);
        @include setFlexHorizAndVertical(flex,center,center);
        flex-direction: column;
        .slogan {
            &__up {
                font-size: 43.9px;
                line-height: 48px;
                font-weight: 900;
                color: #ffffff;
            }
            &__down {
                font-size: 26.4px;
                line-height: 1.2;
                font-weight: 400;
                color: #ffffff;
                text-align: center;
            }
        }
        .possability {
            display: flex;
            justify-content: space-around;
            width: 100%;

            &__alone {
                max-width: 180px;
                min-height: 60px;
                border: 1.5px solid #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__together {
                max-width: 287px;
                min-height: 60px;
                border: 1.5px solid #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text {
                font-size: 26.4px;
                line-height: 1.2;
                font-weight: 500;
                color: #ffffff;
            }
            &__alone:hover, &__together:hover {
                background-color: white;
                    .possability__text {
                        font-size: 22px;
                        line-height: 1.2;
                        font-weight: 400;
                        color: #037693;
                    }
            }
            &__block-first {
                width: 50%; 
            }
            
        }
       /* .introduction__functionality {
              width: 100%;
              display: flex;
              justify-content: space-between;
           /* .functionality {
                background-color: transparent;
                border: 1.5px solid #ffffff;
                font-size: 26.4px;
                height: 60px;
                line-height: 1.2;
                font-weight: 600;
                color: #ffffff;
                &:hover {
                    background-color: #ffffff;
                    opacity: 0.8;
                    color: #037693;
                }
            }
            .functionality-alone {
                margin-right: 50px;
                width: 215px;
            }
            .functionality-together {
                width: 144px;
            }
            
        }*/

  }
}




/*.flexim {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    border: 5px solid green;
}*/

.work__header{
    display: flex;
    justify-content: center;
    &-inside {
        font-size: 47.1px;
        line-height: 1.2;
        font-weight: 300;
        letter-spacing: 0.1em;
        color: #037693;
    }
    
}

.work__flex {
    display: flex;
    justify-content: space-around;
    .flex__img {
        display: inline-block;
        padding: 18px;
        border: 1px solid #037693;
        background-color: cyan;
    }
    .flex__text {
        width: 100%;
    }
}


