@media (max-width: $mobileWidth) {
    .work {
        &__information {
            display: flex;
            justify-content: space-between;
            .general__works {
                min-width: 50%;
            }
            .parametr__text {
                //margin-bottom: 1.5rem;
            }
            .parametr__container {
                
            }
        }
    }
}