@media (max-width: $mobileWidth) {
    .footer {
        &__information {
            display: flex;
            flex-direction: column;

        }
        .links__wrapper {
            display: none;
        }
        .main__information {
            width: 80%;
            .logo__container {

            }
            .logo__text {
                font-size: 1rem;
                line-height: 1.2rem;
            }
        }
        .social__information {
            width: 70%;
        }
        .social__form {
            .social__email {
                &-img {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        
    }
}