@media (max-width: $mobileWidth) {
    .header {
        background-image: url(../../img/blackback.png);
        &__inner {
            //min-height: 100px;
            @include setFlexHorizAndVertical(flex,space-between,center);
            .invisible__elem {
                display: block;
            }
            .logo {
                @include setFlex(0,1,auto);
                &__img {
                    //width: 8rem;
                  //  padding: 1.5rem;
                }
            }
            .menu {
                display: block;
                @include setFlex(0,1,auto);
                @include setMenuButtonParams(55px,55px);
                //margin-right: 0 auto ;
                //margin: 0 2rem;
                //height: 5rem;
                &__desktop {
                    display: none;
                }
                &__img {
                   
                }
            }
            .auth {
                display: none;
            }
            
        }
    }
}