.events {
    background-color: #e8e8e8;
    max-width: 100%;
    padding: 5rem;
    padding-top: 0;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: 0.1em;
        color: #037693;
    }
    &__collection-mobile {
        display: none;
    }
    &__collection {
        //margin: 0 14.5%;
        margin: 0;
        display: flex;
        justify-content: center;
        .event__card {
            padding: 0;
            background-color: #fff;
            max-width: 20rem;
            transition-duration: 500ms;
            box-shadow: 0 0.1rem 0.5rem #b2b2b2;;
            &:hover {
                transform: scale(1.1);
            }
            &-title {
                line-height: 1.2;
                font-size: 2.5rem;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                font-weight: 300;
                height: 10rem;
            }
            &-subtitle {
                font-weight: 800;
            }
            &-activity {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                &-img {
                  width: 40px;
                  height: 60px;  
                }
            }
            &-speaker {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-image: linear-gradient(
                    rgba(101, 172, 163, 0.8),
                    rgba(101, 172, 163, 0.8)
                ),
                url(../../img/events/speaker.png);
            }
            &-eye {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-image: linear-gradient(
                    rgba(224, 122, 107, 0.8),
                    rgba(224, 122, 107, 0.8)
                ),
                url(../../img/events/eye.png);
            }
            &-class {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-image: linear-gradient(
                    rgba(242, 180, 124, 0.8),
                    rgba(242, 180, 124, 0.8)
                ),
                url(../../img/events/class.png);
            }
            .event-information {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 14px 60px;
                .event-text {
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 300;
                    letter-spacing: 0.02em;
                    width: 15rem;
                }
            }

            &-line {
                margin-top: 2px;
                height: 2px;
                &-left { 
                    background-image: url(../../img/events/greenLine.png);
                }
                &-center {
                    background-image: url(../../img/events/redLine.png);
                }
                &-right {
                    background-image: url(../../img/events/brownLine.png);
                }
                
                
            }
        }
    }
    .event-button {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        color: #fff;
        display: inline-block;
        align-items: center;
        text-align: center;
        margin-bottom: 35px;
        border-radius: 21px;
        padding: .5rem 1.3rem;
        cursor: pointer;
        &-first {
            background: #4ca59a;
        }
        &-second {
            background: #f26250;
        }
        &-third {
            background: #f0a765;
        }
    }
}